<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Snake</title>
        <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/game.css"/>
 		<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>

		<script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
		<script type="application/javascript" src="scripts/snake.js"></script>
	</head>
	<body onload="init()" style="margin: 5rem;">
    	<h1>Snake Game</h1>
		<div id="app">
            <table style="width:800px">
                <tr v-if="player_num == 1">
                    <td><img width="50px" height="50px" :src="avatar"> Player 1: {{username}}</td>
                    <td v-if="opp_username != null" style="float:right"><img width="50px" height="50px" :src="opp_avatar"> Player 2: {{opp_username}}</td>
                    <td v-else style="float:right"> Waiting for Player 2...</td>
                </tr>
                <tr v-else>
                    <td><img width="50px" height="50px" :src="opp_avatar"> Player 1: {{opp_username}}</td>
                    <td style="float:right"><img width="50px" height="50px" :src="avatar"> Player 2: {{username}}</td>
                </tr>
            </table>
            <div id="snakeGame"></div>
			<div id="difficultyButtons">
				<h2> Select Difficulty Multiplier: </h2>
				<h3>Current Difficulty Multiplier: <b>{{ difficulties[difficulty] }} </b></h3>
				<ul>
					<button onclick="changeDifficulty(0)"> Mobile Gamer x1</button>
					<button onclick="changeDifficulty(1)"> Console Gamer x2</button>
					<button onclick="changeDifficulty(2)"> PC Gamer x3</button>
					<button onclick="changeDifficulty(3)"> Apex Gamer x4</button>
				</ul>
			</div>
			<table id="leaderTable">
                <thead>
                <tr>
					<th> Avatar </th>
					<th> Username </th>
					<th> Highscore </th>
				</tr>
                </thead>
                <tbody v-for="item in users_json">
                    <tr class="scoreRowLinks" @click="OpenStatsPage(item)">
						<td><img width="50px" height="50px" :src="item.avatar"></td>
						<td >{{item.username}} </td>
                        <td>{{item.high_score}} </td>
                    </tr>
                    <tr v-if="item.show==true">
                        <td> Games Played: {{item.games_played}}</td>
                        <td>Apples Eaten: {{item.apples_eaten}}</td>
                    </tr>
                </tbody>

            </table>
		</div>
	</body>
</html>
