* {
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    width: 100%;
    max-height: 100%;
    min-width: 70rem;
    margin-top: 5rem;
}

h1{
    text-align: center;
    margin-top: 1rem;
    font-size: 5rem;
}
p{
    margin-top: 1rem;
    font-size: 2rem;
}
img{
    width: 20rem;
    height: 20rem;
}
tr{
    width:80vw;
}
td{
    width:40vw;
}
